@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "Roboto", sans-serif;
}

p{
    @apply font-light
}

.nav .active{
    @apply text-secondary
}

.home{
    background-repeat: no-repeat;
    width: 100%;
    background: url('/images/background.png');
    background-size: cover;
}

.formaly input,
.formaly textarea{
    @apply w-full outline-none border-textSecondary rounded-sm px-6
}

.formaly input::placeholder,
.formaly textarea::placeholder{
    text-transform:  capitalize;
}

.formaly input{
    @apply h-10 
}

.contact{
    background: url('/images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .film{
    background: url('/images/Ruth.JPG');
} */


.newHome{
    background: url('/new-images/protest.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20%);
}
