@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "Bree Serif", serif;
}

p{
    @apply font-light
}

.nav .active{
    @apply text-secondary
}

.home{
    background-repeat: no-repeat;
    width: 100%;
    background: url('/images/background.png');
    background-size: cover;
}

.formaly input,
.formaly textarea{
    @apply w-full outline-none border-textSecondary rounded-sm px-6
}

.formaly input::placeholder,
.formaly textarea::placeholder{
    text-transform:  capitalize;
}

.formaly input{
    @apply h-10 
}

.contact{
    background: url('/images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .film{
    background: url('/images/Ruth.JPG');
} */